@(message: String, user : User, mfg : List[MFG])
@import tags._
@main("Welcome to Play Framework", user) {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    
    <div class="well">
        <h1>@message</h1>
    </div>
    <div class="userDetails">
    <dt>@user.nickname <span>(@user.email)</span></dt>
    </div>

   @if(!user.fahrer){
	   	<div class="row">
	   		
		</div>
   } else {
	   <div class="row">
			@indexMFTable(mfg, user)
			<div class="form-group" >
			  <div style="width:60%; height:60%">
				<div class="col-lg-10" id="map-canvas" style="width:100%; height:100%"></div> 
				</div>
			</div>
		</div>
   }

}
