@(badrequest: String)
@main("Welcome to Play Framework",null) {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    
    <div class="container">

    <div class="starter-template">
      <h1>Bitte hier anmelden</h1>
	   
      <p>@badrequest</p>
      @if(flash.contains("success")) {
    	    <p class="success">
    	        @flash.get("success")
    	    </p>
    	}
    </div>
    

    <div class="row">

			<form class="form-horizontal" role="form" method="POST" action="/login">
			
			<input type="hidden" id="fbEmail" name="fbEmail" value="">
			<input type="hidden" id="fbUsername" name="fbUsername" value="">
			  <div class="form-group">
			    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
			    <div class="col-lg-10">
			      <input name="email" type="email" class="form-control" id="inputEmail1" placeholder="Email">
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
			    <div class="col-lg-10">
			      <input name="password" type="password" class="form-control" id="inputPassword1" placeholder="Password">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-lg-offset-2 col-lg-10">
			      <div class="checkbox">
			        <label>
			          <input name="remember" type="checkbox"> Remember me
			        </label>
			      </div>
			    </div>
			  </div>
			   
			  <div class="form-group">
			    <div class="col-lg-offset-2 col-lg-10">
			      <button type="submit" class="btn btn-default">Sign in</button>
			    </div>
			  </div>
			  
			  <div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<a href="/registrieren" class="btn btn-default">Registrieren</a>
				</div>
			</form>
    </div>
	
  </div>
 
  </div>
	  
	
	
}