@(badrequest: String) 


@main("nimm mich...mit!",null) {

<script type='text/javascript'
	src='@routes.Assets.at("javascripts/index.min.js")'></script>





<div class="container">
	<div class="agency-wrap">
		<div class="container page-container home-container">
			<div class="row">
				
					<div class="header-main">

						<div class="starter-template">
							<h1>Herzlich Willkommen!</h1>
							<h2>Bitte hier anmelden</h2>

							<div class="center">

								<p>@badrequest</p>
								@if(flash.contains("success")) {
								<p class="success">@flash.get("success")</p>
								}

								<form class="" role="form" method="POST"
									action="/login">

										<table class="table">
											<tr>
												<td class="white"><input type="hidden" id="fbEmail"
													name="fbEmail"></td>
												<td class="white"><input type="hidden" id="fbUsername"
													name="fbUsername"></td>
											</tr>
											<tr>
												<td class="white" for="inputEmail1">Email</td>
												<td><input name="email" type="email"
													class="form-control" id="inputEmail1" placeholder="Email"></td>
											</tr>
											<tr>
												<td class="white" for="inputPassword1">Password</td>
												<td><input name="password" type="password"
													class="form-control" id="inputPassword1"
													placeholder="Password"></td>
											<tr>
											</tr>
											<tr>
												<td class="white">Remember me</td>
												<td><input name="remember" type="checkbox"></td>

											</tr>
										</table>
										<button type="submit" class="btn btn-small">Sign in</button>

							</div>
						</div>
					</div>
			</div>
		</div>
	</div>


	


	

</div>



}
