@(message: String, user : User, mfg : Iterator[MFG])
@import tags._

@main("Welcome to Play Framework", user) {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    
    <div class="well">
        <h1>@message</h1>
    </div>
    <div class="userDetails">
    <dt>@user.nickname <span>(@user.email)</span></dt>
    </div>
    <div class="row"> 
	<h2>alle Mitfahrgelegenheiten von @user.nickname anzeigen</h2>

	<div class="row">
		@mfgTable(mfg)
	</div>
		
</div>

}