@(message: String, user : User, mfg : List[MFG], status : List[Mfg_Status])
@import tags._

@main("nimm mich...mit!", user) {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    
    <div class="full-width-features feature-2">
	    <h1>@message</h1>
	    <h2>User: @user.nickname <br>E_Mail: (@user.email)</h2>
	</div>
	<br>

		<a href="#feature-set" class="down-tab"
			name="feature-set"> MFG anzeigen <i
			class="arrow arrow-down">&nbsp;</i>
		</a>
		
		
		<div class="full-width-features feature-1">
			<h1>Alle</h1>
	        <h2>Mitfahrgelegenheiten anzeigen</h2>
	        <div class="space">
		        <form class="form-horizontal" role="form" method="POST" action="/mfgAnzeigen">
		        <p class="left">Stadt suchen:</p>
		        <table>
		                <tr>
		                        <td>
		                                <input id="ajax-city" type="text" name="filter" value=""></input>        
		                        </td>
		                        
		                </tr>
		                <tr>
		                        <td><div id="city"></div></td>
		                </tr>
		        </table>
		        </form>
	        </div>
	        
	        <div class="row space mfg_anzeigen">
	                @mfgTableWithStatus(mfg, user, status)
	                <div class="map_details" id="map-canvas"></div> 
	    		</div>
		</div>
    

}
