@(message: String, user : User, mfg : Iterator[MFG])
@import tags._

@main("nimm mich...mit!", user) {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    
    <div class="full-width-features feature-2">
        <h1>@message</h1>
        <h2>User: @user.nickname <br>E_Mail: (@user.email)</h2>
    </div>
    <br>
    
    <a href="#feature-set" class="down-tab"
			name="feature-set"> MFG anzeigen <i
			class="arrow arrow-down">&nbsp;</i>
	</a>
    
    <div class="full-width-features feature-1"> 
    <h1>Alle</h1>
	<h2>Mitfahrgelegenheit von @user.nickname</h2>

	
	<div class="space mfg_anzeigen">
		@mfgTable(mfg)
		
		<div class="map_details" id="map-canvas"></div> 
	
		
	</div>

</div>

}