@(badrequest: String)

@main("nimm mich...mit!", null) {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>

    <div class="container">

   
    <div class="full-width-features feature-2">
        <h1>Registrieren</h1>
        <h2>@badrequest</h2>
    </div>
    <br>
    
	  <a href="#feature-set" class="down-tab"
			name="feature-set"> Registrieren <i
			class="arrow arrow-down">&nbsp;</i>
	</a>
    
	<div class="full-width-features feature-1">
		<div class="regis">
			<div class="row">
				<div class="span12">
					<h1>Registration</h1>
					<h2>Bitte registrieren Sie sich!</h2>
				</div>
			</div>

			<div class="center_regis">
				<form role="form" method="POST" action="/registrieren">

					<table class="table">
						<tr>
							<td for="inputEmail1" class="">E-Mail</td>
							<td><input name="email" type="email" class="span4 height"
								id="inputEmail1" placeholder="Email"></td>
							<td for="inputnickname" class="">Nickname</td>
							<td><input name="nickname" type="text" class=" span4 height"
								id="inputnickname"></td>
						</tr>
						<tr>
							<td for="inputPassword1" class="">Passwort</td>
							<td><input name="password" type="password"
								class="span4 height" id="inputPassword1" placeholder="Password"></td>
							
							<td for="datetimepicker" class="">Geburtstag</td>
							<td id="datetimepicker"><input class=" span4 height"
								name="datepicker" type="text"></input>
								<span class="add-on height"> <i
									data-time-icon="icon-time" data-date-icon="icon-calendar"></i></td>

						</tr>
						<tr>
							<td for="inputPassword1" class="">Passwort wiederholen</td>
							<td><input name="password2" type="password"
								class=" span4 height" id="inputPassword2" placeholder="Password"></td>
							<div class="form-group" id="date_from_group"
								style="display: none;">
								<div class="checkbox">
									<td class="">Fahrer</td>
									<td><input onchange="checkChanged()" name="fahrer"
										type="checkbox" id="fahrer"></td>
								</div>
							</div>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>
									<input type="submit" class="btn btn-small regis_btn" value="Registrieren" />
							</td>
						<tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	
  </div>
  
  
  
  
  
  <script type="text/javascript"
   src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script> 
  <script type="text/javascript"
   src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
  </script>
  <script type="text/javascript"
   src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
  </script>
  <script type="text/javascript"
   src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
  </script>
  
  <script type="text/javascript">
    $('#datetimepicker').datetimepicker({
      format: 'dd-MM-yyyy',
      language: 'de',
      pickTime:false
    });
  </script>
  
  <script type="text/javascript">
  function checkChanged(){
	$("#date_from_group").toggle();
  }
</script>
  
}