/*
red: #F7#C50103*/

body{
	background:url(../images/home-bg.jpg) no-repeat top center #C50103;
	font-family:Helvetica, Arial, sans-serif;
	color:#7f7f7f;
	background-attachment:fixed;
}
body a{
	color:#C50103;
	text-decoration:none;
}
body strong{
	font-weight: bold;
}
body a:hover{
	color:#F25103;
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}
::selection {
	background: #C50103; /* Safari */
	color:#fff;
	}
::-moz-selection {
	background: #C50103; /* Firefox */
	color:#fff;
}
.page-container{
	margin:50px auto 0px;
}
.home-container{
	height:600px;
}
.lock-header{
	position:fixed;
	top:-70px;
	left:0px;
	right:0px;
	padding:0px 0px;
	height:55px;
	background: #C50103;
	z-index:1000;
	text-align:center;
	color:#7f7f7f;
	font-family:"Source Sans Pro", Helvetica, Arial;
	font-weight:300;
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
}
.lock-header h4{
	font-size:19px;
	text-align:right;
	position:relative;
	top:8px;
	color:#7f7f7f;
}
.lock-header .container{
	margin:0px auto;
}
.lock-header .span4{
	text-align:left;
}

.agency-wrap{
	position:relative;
}

.page-wrapper{
	position:relative;
	z-index:100;
}

.top-nav .nav{
	list-style:none;
	margin:0px;
	padding:0px;
	float:right;
}
.top-nav .logo-link{
	float:left;
	font-family: "Merienda", cursive;
	color:#fff;
	padding-left:200px;
	font-size:28px;
	position:relative;
	height:42px;
	padding-top:12px;
}
.top-nav .logo-link img{
	position:absolute;
	left:0px;
	top:-8px;
}
.logo-link span{
	position:relative;
	top:-8px;
	margin-left:10px;
	margin-bottom:100px;
}
.top-nav .logo-link a{
	border:none!important;
}
.top-nav .nav li{
	float:left;
	position:relative;
	margin-left:5px;
}
.top-nav .nav .sub-nav{
	position:absolute;
	top:27px;
	left:0px;
	margin:0px;
	padding:0px;
	z-index:100;
	display:none;
}
.top-nav .nav li.hovering .sub-nav{
	display:inline;
}
.top-nav .nav li.hovering a{
}
.top-nav .nav .has-sub-nav{
	width:105px;
}
.top-nav .nav .has-sub-nav a{
	font-family: "Helvetica", "Arial";
	font-size: 13px;
	font-weight: normal;
}
.top-nav .nav .has-sub-nav:hover{
	background:#C50103;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.top-nav .nav .sub-nav li{
	float:none;
	margin-left:0px;
	width:120px;
}
.top-nav .nav .sub-nav li:first-child a{
	border-top-right-radius: 5px;
}
.top-nav .nav .sub-nav li a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color:#fff;
	background:#C50103;
	font-size: 13px;
	font-family: "Helvetica", "Arial";
	font-weight: normal;
}
.top-nav .nav .sub-nav li.drop-down-bottom{
	background:#C50103;
	height:5px;
	display:block;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.top-nav .nav li a{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
	text-decoration:none;
	padding:7px 7px;
	display:block;
	font-size:15px;
	font-family: "Source Sans Pro";
	font-weight: 600;
}
.top-nav .nav li a:hover{
	background:#C50103;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}
.header-main{
	clear: left;
    margin-top: 0px;
    padding-bottom: 23px;
    text-align: center;
}
.header-main h1, .call-to-action h1, .header-main-phone h1{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:900;
	color:#fff;
	font-size:55px;
	margin-bottom:20px;
}
.header-main h2, .call-to-action h2, .header-main-phone h2{
	font-family: "Merienda", cursive;
	font-size:40px;
	color:#fff;
	margin-top:20px;
	width:500px;
	text-align:center;
	margin:0px auto;
	width:100%;
	text-align:center;
	background:url(../images/line-white-gap.gif) no-repeat center center;
}

.header-main h4, .header-main-phone h4{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:400;
	color:#fff;
	font-size:21px;
	margin-bottom:0px;
	padding-top:10px;
}

.header-main p, .header-main-phone p{
	color:#fff;
	font-size:17px;
	margin-top:20px;
	line-height:23px;
	margin-bottom:20px;
}
.header-main-phone{
	text-align:center;
}

/* icons */
i.arrow{
	background:url(../images/sprite-arrows.png) no-repeat top left!important;
	height:15px;
	margin-left:20px;
	display:inline-block;
}
i.arrow.arrow-down{
	width:15px;
	background-position:-8px 0px!important;
}
i.arrow.arrow-up{
	width:15px;
	background-position:-23px 0px!important;
}

.down-tab{
	width:100%;
	display:block;
	background:url(../images/bg-tab.png) no-repeat center;
	height:34px;
	color:#fff;
	font-family:"Source Sans Pro", sans-serif;
	text-align:center;
	text-decoration:none;
	font-weight:700;
	font-size:19px;
	padding-top:10px;
}
.down-tab i{
	position:relative;
	top:2px;
}
.down-tab:hover{
	color:#fff!important;
}
/* features */
.full-width-features{
	text-align:center;
}
h4.icon-line{
	width:100%;
	text-align:center;
	background:url(../line-gray.gif) no-repeat center center;
	margin-bottom:50px;
}
h4.icon-line span{
	padding:0px 20px;
	background:url(../images/site-bg.png);
	margin:0px auto;
	display:block;
	width:80px;
	text-align:center;
}
.feature-2 .icon-line span{
	background:url(../images/site-bg2.png) no-repeat;
}
.full-width-features .feature{
	margin:50px 0px 70px;
}
.full-width-features, .full-width-blog{
	padding:50px 0px;
}
.full-width-features.feature-1{
	background:url(../images/site-bg.png);
	padding-bottom:100px;
}
.full-width-features.feature-2{
	background:url(../images/site-bg2.png);
	padding:30px 0px 30px;
}
.full-width-features.feature-3{
	background:url(../images/site-bg.png);
	padding:130px 0px 270px;
}
.full-width-features .container, .full-width-blog .container{
	 margin-top:20px;
	 margin:0px auto;
}
.full-width-features h1, .webtechnik-modal h3, .full-width-blog h1{
	font-family:"Source Sans Pro", sans-serif;
	font-weight:200;
	color:#C50103;
	text-align:center;
	font-size:44px;
	margin-top:0px;
	margin-bottom:80px;
}
.full-width-features h1{
	margin-bottom:10px;
}
.full-width-features h2, .full-width-blog h4{
	color:#666;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:200;
	font-size:28px;
	margin-bottom:15px;
}
.full-width-features h2{
	font-size:24px;
	line-height:31px;
	margin-bottom:40px;
}
.full-width-features h3{
	color:#7f7f7f;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:300;
	font-size:21px;
	margin-bottom:10px;
	margin-top:30px;
}
.full-width-features p{
	font-size:13px;
	line-height:20px;
}
.full-width-features .span6 p{
	font-size:13px;
	color:#666;
	line-height:21px;
}
.full-width-features .features-wrap{
	margin-bottom:50px;
}

/* call to action */

.call-to-action{
	margin:0px auto;
	text-align:center;
	padding:80px 0px;
}
.call-to-action h2{
	background:none;
}
.call-to-action .scroll-top, .full-width-blog .read-more, .full-width-blog .view-all{
	background:#C50103;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	right:-5px;
	width:180px;
	font-size:19px;
	margin:0px;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:700;
	color:#fff;
	padding:20px 30px;
	display:block;
	margin:30px auto 0px;
	text-decoration:none;
}
.call-to-action .scroll-top:hover, .full-width-blog .read-more:hover, .full-width-blog .view-all:hover{
	background:#C50103;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}
.call-to-action .scroll-top i{
	position:relative;
	top:2px;
}


/* footer */

.footer{
	background:#FFF;
	padding:50px 0px;
	color:#999;
	font-size:13px;
	overflow:auto;
}
.footer .copyright{
	float:left;
}
.footer .policies{
	float:right;
	margin-top:10px;
	font-size:11px;
}
.footer .container{
	margin:0px auto;
	position:relative;
}
.footer p{
	margin-top:10px;
	line-height:24px;
}
.footer a{
	color:#C50103;
}
.footer a:hover{
	color:#C50103;
}
.footer .social-policies{
	float:right;
	width:200px;
	padding:35px;
}
.footer .links{
	list-style:none;
	margin:0px;
	padding:0px;
	float:right;
}
.footer .links li{
	float:right;
	margin-left:10px;
}

.footer .links li.blog a{
	background-position:-32px 0px;
}
.footer .links li.facebook a{
	background-position:-64px 0px;
}
.footer .links li.twitter a{
	background-position:-96px 0px;
}
.footer .links li.contact a:hover{
	background-position:0px -32px;
}
.footer .links li.blog a:hover{
	background-position:-32px -32px;
}
.footer .links li.facebook a:hover{
	background-position:-64px -32px;
}
.footer .links li.twitter a:hover{
	background-position:-96px -32px;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {

	.lock-header h4 {
		font-size:19px;
	}
	.header-main{
		clear: left;
	    margin-top: 0px;
	    padding-bottom: 23px;
	    text-align: center;
		width:940px;
	}

} 

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.lock-header h4 {
		font-size:19px;
	}

	.lock-header h4{
		font-size:24px;
	}
	.lock-header h4 span{
		display:none;
	}
	.header-main{
		clear: left;
	    margin-top: 120px;
	    padding-bottom: 23px;
	    text-align: center;
		width:724px;
	}
}
/* Landscape phones and down */
@media (max-width: 766px) { 
	body{
		padding:0px!important;
		margin:0px;
	}
	.page-container, .full-width-features, .home-container{
		padding:20px;
		padding-bottom:50px;
		height:auto;
	}
	.full-width-features{
		text-align:center;
	}
	.logo-link{
		margin:0px auto;
		display:block;
		width:100%;
		text-align:center!important;
		padding:0px!important;
		margin-bottom:40px;
	}
	.logo-link img{
		position:static!important;
	}
	.header-main h1, .call-to-action h1, .header-main-phone h1{
		font-size:41px;
	}
	.header-main h2, .call-to-action h2, .header-main-phone h2{ 
		font-size:28px;
		background:none;
	}
	.span6 img{
		margin:20px auto 0px;
	}
	.full-width-features h3{
		margin-bottom:20px;
		margin-top:50px;
	}
	.footer{
		text-align:center;
	}
	.footer .links{
		position:static;
		float:none;
		margin-top:30px;
	}
	.footer .links li{
		width:25%;
		text-align:center;
		margin:0px;
	}
	.footer .links li a{
		margin:0px auto;
	}
	.agency-wrap .agency-credit{
		position:absolute;
		left:50%;
		bottom:30px;
		width:120px;
		text-align:center;
		margin-left:-60px;
	}
	.full-width-blog .more-posts-wrap{
		-moz-box-shadow: 0 0 0px #ddd;
		-webkit-box-shadow: 0 0 0px#ddd;
		box-shadow: 0 0 0px #ddd;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	
	.header-main label.error, .header-main-phone label-error{
		display:none!important;
	}
	.header-main .watermark_container, .header-main-phone .watermark_container{
		width:100%;
	}
	.header-main .watermark_container .watermark, .header-main-phone .watermark_container .watermark{
		left:50%!important;
		margin-left:-80px;
		top:-64px!important;
	}
	#searchform input[type="text"]{
		position:absolute;
		left:50%;
		margin-left:-100px;
		top:100px;
	}
	.logo-link span{
		position:relative;
		top:-15px;
		margin-left:10px;
		margin-bottom:100px;
	}
	.full-width-features h3 {
		margin-top:10px;
	}
	.full-width-features p{
		margin-bottom:50px;
	}
	.feature-1, .feature-2, .feature-3{
		padding-bottom:70px!important;
	}
	.feature-1 .container, .feature-2 .container, .feature-3 .container{
		padding:20px;
	}

	.header-main{
		clear: left;
	    margin-top: 0px;
	    padding-bottom: 23px;
	    text-align: center;
	}
	.top-nav .nav{
		width:100%;
	}
	.nav-home{
		margin-bottom:30px!important;
	}
	.footer .copyright{
		float: none;
	}
 }



.linkNav {
margin-top: 20px;
z-index: 1;
}

.linkNav_logged-in {
	margin-top: -20px;
	z-index: 2;
}
