@(items: Iterator[MFG])
		<table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Start</th>
              <th>Ziel</th>
              <th>Strecke</th>
              <th>Plätze</th>
              <th>Wann</th>
            </tr>
          </thead>
         <tbody>
         @for( i <- items ){
         
            <tr>
            <td>
            <div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  				Action <span class="caret"></span>
				</button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="/mfgEdit/@i._id")>Bearbeiten</a></li>
				  </ul>
				</div>
			 </td>	            
			<td>@i.start</td>
			<td>@i.ziel</td>
			<td>
				<button type="button" class="btn btn-primary streckenClick" value='@i.strecke' id='@i._id'>@i.strecke</button>
			</td>
			<td>@i.seats</td>
			<td>@i.date.format("dd. MMMM yyyy HH:mm")</td>
             </tr>
         }   
        
        </tbody>
      </table>
